<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="../../stylecss/styleerror.css">
    <link rel="icon" href="../../img/imagen_2.png">
</head>
<body>
    <div class="todo">
        <section class="titulo_error">
            <p>No se ha podido encontrar la página que usted ha introducido</p>
            <p>No s'ha pogut trobar la pàguina que vostè ha introduït</p>
            <p>No se ha podido encontrar la página que usted ha introducido</p>
        </section>
        <section class="texto_imagen_juntos">
            <article class="texto">
                <p>Por favor, revise bien que no haya introducido una dirección inexistente.</p>
                <p>Si us plau, revisi bé que no haya introduït una direcció que no exiteix.</p>
                <p>Please, check out, it could be that you have entered a non-existent source .</p>
            </article>
            <article class="imagen">
                <img src="../../img/imagen_1.png" alt="No disponible" class="img">
            </article>
        </section>
    </div>
</body>
</html>