@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit", sans-serif;
}

.img {
    width: 100%;
}

#navegacion {
    background-color: rgb(18, 180, 220);
    width: 100%;
    padding: 1%;
}

#jprocean, #inicio, #quienes_somos, #noticias, #nuestro_trabajo, #boton {
    color: white;
}

#boton {
    background-color: white;
}

.contenedor_imagen_principio {
    width: 100%;
    text-align: center;
}

.imagen_jpr {
    width: 90%;
}

.imagen_intro {
    width: 55%;
    margin-left: 22.5%;
    background-color: white;
}

.introduccion {
    background-image: url(../img/imagen_5.png);
}

.introduccion_texto {
    background-color: rgb(10, 169, 213);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}

.contenedor_texto {
    color: white;
}

.bienvenida {
    font-size: 200%;
    text-align: center;
}