<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quienes somos?</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylecss/style.css">
    <link rel="icon" href="../img/imagen_2.png">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <div class="todo">
        <section class="navegacion">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid" id="navegacion">
                  <a class="navbar-brand" href="./index.html" id="jprocean">JPROcean</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" id="boton">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div id="navegacion_secundaria">
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                          <a class="nav-link active" aria-current="page" href="../index.html" id="inicio">Inicio</a>
                          <a class="nav-link" href="../view/quienes_somos.html" id="quienes_somos">¿Quienes somos?</a>
                          <a class="nav-link" href="../view/trabajo.html" id="nuestro_trabajo">Nuestro trabajo</a>
                          <a class="nav-link" href="../view/noticias.html" id="noticias">Noticias</a>
                        </div>
                    </div>
                  </div>
                </div>
            </nav>
        </section>
        <section class="introduccion">
            <div class="imagen_intro">
                <div class="contenedor_imagen_principio">
                    <p class="texto_quienes_somos">¿Quienes somos?</p>
                    <img src="../img/imagen_7.png" alt="No Disponible" class="imagen_quienes_somos">
                </div>
            </div>
        </section>
        <section class="introduccion_texto">
            <div class="fila">
                <div class="col-izq">
                    <p>Una de nuestras primeras exploraciones fue al oceano Pacífico en el cual descubrimos la de trabajo que teniamos por delante.  </p>
                </div>
                <div class="col-der">
                    <img src="../img/imagen_6.png" alt="No Disponible" class="imagen_contaminacion">
                </div>
            </div>
        </section>
    </div>
</body>
</html>